{% extends "base.html"%} 
{% load static %} 
{% block body_content %}
<div class="row justify-content-center">
    <h2>Best Gynecologists Consulting</h2>
</div>
<div class="row">
<div class="card" style="width: 18rem;margin:15px">
    <div class="card-body">
      <h5 class="card-title">Dr. Sulbha Arora</h5>
      <h6 class="card-subtitle mb-2 text-muted">Infertility Specialist</h6>
      <p class="card-text">NOVA IVI FERTILITY, Mumbai, India</p>
      <a href="#" class="card-link">Phone: 1800 103 2229</a>
    </div>
</div>
<div class="card" style="width: 18rem;margin:15px">
    <div class="card-body">
      <h5 class="card-title">Dr. Veena Ganesh Shinde</h5>
      <h6 class="card-subtitle mb-2 text-muted">Gynaecologist and Obstetrician</h6>
      <p class="card-text">MAHADEV apt, Mumbai, India</p>
      <a href="#" class="card-link">Phone: 080804 66000</a>
    </div>
</div>

<div class="card" style="width: 18rem;margin:15px">
    <div class="card-body">
      <h5 class="card-title">Dr. Shilpa Saple</h5>
      <h6 class="card-subtitle mb-2 text-muted">Infertility Specialist</h6>
      <p class="card-text">Surya fertility clinic, Mumbai, India</p>
      <a href="#" class="card-link">Phone:098199 30643</a>
    </div>
</div>

<div class="card" style="width: 18rem;margin:15px">
    <div class="card-body">
      <h5 class="card-title">Dr. P C Jain</h5>
      <h6 class="card-subtitle mb-2 text-muted">Gynaecologist and Obstetrician</h6>
      <p class="card-text">C/o Aakashdeep Hospital & Icu,Mumbai, India</p>
      <a href="#" class="card-link">Phone:9820076664</a>
    </div>
</div>

<div class="card" style="width: 18rem;margin:15px">
    <div class="card-body">
      <h5 class="card-title">Dr. Archana Wani</h5>
      <h6 class="card-subtitle mb-2 text-muted">IVF Specialist</h6>
      <p class="card-text">Kopar Khairane,Navi Mumbai, India</p>
      <a href="#" class="card-link">Phone:022 2754 7223</a>
    </div>
</div>
</div>

{% endblock %}