<!-- Footer -->
  <footer>
    <div class="container">
       <hr>
        <div class="row">

        <div class="col-md-3 col-sm-4">
                <h3>Quick Links</h3>
                <ul>
                     <li><a class="btn btn-link"href="">Register</a></li>
                     <li><a class="btn btn-link"href="">Login</a></li>
                </ul>
            </div>
           
            <div class="col-md-3 col-sm-4">
                <h3>Quick Links</h3>
                <ul>
                     <li><a class="btn btn-link" href="">Portal</a></li>
                     <li><a class="btn btn-link"href="">About</a></li>
                    <li><a class="btn btn-link" href="">Contact</a></li>
                </ul>
            </div>
           
            <div class="col-md-3 col-sm-4">
                <h3>Connect With Us</h3>
                <div class="follow-us">
                    <ul>
                        <li><a class="btn btn-link" href="#"><i class="fab
                                    fa-facebook-f"></i> Facebook</a></li>
                        <li><a class="btn btn-link" href="#"><i class="fab
                                    fa-twitter"></i> Twitter</a></li>
                        <li><a class="btn btn-link" href="#"><i class="fab
                                    fa-linkedin-in"></i>
                                Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright Text -->
    <div class="copyright-txt" style = "background-color: #ADD8E6;">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <p style = "color: black;" class="text-center">© 2021 Menstrual Health | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>