{% extends "base.html"%} 
{% load static %} 
{% block body_content %}
<div class="row justify-content-center">
    <h2>About Us</h2>
    
</div>
<center><img src="{% static 'images/img5.jpg' %}" class="img-fluid" alt="Responsive image"></center>
  <div>

    <h2>Vision</h2>
    <p>The vision behind FEMINY is-Every woman and girl is able to manage her menstruation in a hygenic way-in safety,privacy and with dignity wherever they are. </p>
    <h2>Overview</h2>
    <p>Menstruation Hygiene Management (MHM) is an essential aspect of Hygiene for women and adolescent girls between menarche and menopause. Despite being an important issue concerning women and girls in the menstruating age group, MHM is often overlooked in post-disaster responses. Further, there is limited evidence of Menstrual Hygiene Management in humaitarian settings.</p>
    
    <br>

      <h2>Our Goals:</h2>
      <p>1.To spread awareness regarding menstruation and Hygiene</p>
      
      <p>2.Help girls talk freely and share their issues related to periods.</p>
      
      <p>3.To gather information regarding do's and don'ts and various menstruation syndrome and their symptoms</p>
      
  </div>


{% endblock %}