{% extends "base.html"%} 
{% load static %} 
{% block body_content %}


<h1 style="font-family: 'Times New Roman', Times, serif;font: Arial, sans-serif;color:#95060c" ><center>ABNROMAL UTERINE BLEEDING<center></h1>
<div class="bg-light" >
<h3>Overview</h3>
<p>
    Abnormal uterine bleeding (formerly called menometrorrhagia) is when you
    bleed between your monthly periods or when your periods are extremely
    heavy and/or prolonged. Normal menstrual flow typically lasts about five
    days and occurs every 21 to 35 days. Your provider should know about any
    abnormal bleeding you’re experiencing. What’s causing your bleeding may
    be harmless. But your bleeding may be a sign of cancer or conditions
    that may negatively impact your fertility.
</p>
<center><img src="{% static 'images/img4.jpeg' %}" class="img-fluid" alt="Responsive image"></center>
<h3>Symtoms</h3>
<p>
    1. Heavy menstrual bleeding (formerly called menorrhagia).
    <br>
    2. Bleeding at unusual times (between periods, after intercourse).
    <br>
    3. Unusually long periods (seven days or longer).
    <br>
    4. Inconsistent menstrual cycles.
    <br>
</p>

<h3>Causes</h3>
<p>
        
    1. Hormone imbalances
    <br>
    2. Anovulation.
    <br>
    3. Thyroid disease.
    <br>
    4. Polycystic ovary syndrome (PCOS).
    <br>
    5. Weighing more than your ideal body weight can lead to hormone imbalances that may cause abnormal uterine bleeding, too.
    <br>
    6. Structural abnormalities in your uterus
    <br>
    7. Polyps.
    <br>
    8. Fibroids.
   
    <br>
    9. Precancer and cancer.
    <br>
    10. Uterine cancer.
    <br>
    11. Cervical cancer.
    <br>
    12.Vaginal cancer.
    <br>
    13. Ovarian cancer.
    <br>

  </p>

<h3>Complications</h3>
<p>
    1. Trouble getting pregnant
    <br>
    2. Anaemia or blood loss
    <br>
    3. Higher risk of endometrial cancer

  </p>
</div>

{% endblock %}