{% extends "base.html"%} 
{% load static %} 
{% block body_content %}


<h1 style="font-family: 'Times New Roman', Times, serif;font: Arial, sans-serif;color:#95060c" ><center>PCOS/PCOD<center></h1>
<div class="bg-light" >
<h3>Overview</h3>
<p>
  Polycystic ovary syndrome (PCOS) is a hormonal disorder common among women
  of reproductive age. Women with PCOS may have infrequent or prolonged
  menstrual periods or excess male hormone (androgen) levels. The ovaries
  may develop numerous small collections of fluid (follicles) and fail to
  regularly release eggs
</p>
<center><img src="{% static 'images/img1.jpeg' %}" class="img-fluid" alt="Responsive image"></center>
<h3>Symtoms</h3>
<p>
  1. Irregular periods :-Infrequent, irregular or prolonged menstrual cycles
  are the most common sign of PCOS. For example, you might have fewer than
  nine periods a year, more than 35 days between periods and abnormally
  heavy periods.
  <br />
  <br />
  2. Excess androgen :-Elevated levels of male hormones may result in
  physical signs, such as excess facial and body hair (hirsutism), and
  occasionally severe acne and male-pattern baldness.
  <br />
  <br />
  3. Polycystic ovaries :-Your ovaries might be enlarged and contain
  follicles that surround the eggs. As a result, the ovaries might fail to
  function regularly.
</p>
<h3>When to see a doctor?</h3>
<p>
  See your doctor if you have concerns about your menstrual periods, if
  you're experiencing infertility or if you have signs of excess androgen
  such as worsening hirsutism, acne and male-pattern baldness.
</p>
<h3>Causes</h3>
<p>
  1. Excess insulin :- Insulin is the hormone produced in the pancreas that
  allows cells to use sugar, your body's primary energy supply. If your
  cells become resistant to the action of insulin, then your blood sugar
  levels can rise and your body might produce more insulin. Excess insulin
  might increase androgen production, causing difficulty with ovulation.
  <br>
  <br>
  2. Low-grade inflammation :- This term is used to describe white blood cells'
  production of substances to fight infection. Research has shown that women
  with PCOS have a type of low-grade inflammation that stimulates polycystic
  ovaries to produce androgens, which can lead to heart and blood vessel
  problems.
  <br>
  <br>
  3. Heredity :- Research suggests that certain genes might be linked
  to PCOS.
  <br>
  <br>
  4. Excess androgen :- The ovaries produce abnormally high levels of
  androgen, resulting in hirsutism and acne.
</p>
<center><img src="{% static 'images/img2.jpeg' %}" class="img-fluid" alt="Responsive image"></center>
<h3>Complications</h3>
<p>
    1. Infertility
    <br>
    2. Gestational diabetes or pregnancy-induced high blood pressure
    <br>
    3. Miscarriage or premature birth
    <br>
    4. Nonalcoholic steatohepatitis — a severe liver inflammation caused by fat accumulation in the liver
    <br>
    5. Metabolic syndrome — a cluster of conditions including high blood pressure, high blood sugar, and abnormal cholesterol or triglyceride levels that significantly increase your risk of cardiovascular disease
    <br>
    6. Type 2 diabetes or prediabetes
    <br>
    7. Sleep apnea
    <br>
    8. Depression, anxiety and eating disorders
    <br>
    9. Abnormal uterine bleeding
    <br>
    10. Cancer of the uterine lining (endometrial cancer)
    
</p>
</div>

{% endblock %}